<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CVE LIST</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>CVE LIST</h1>

    <table id="cve-table">
        <thead>
            <tr>
                <th>CVE ID</th>
                <th>IDENTIFIER</th>
                <th>PUBLISHED DATE</th>
                <th>LAST MODIFIED DATE</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for cve in cves %}
            <tr onclick="goToDetail('{{ cve.cve_id }}')">
                <td>{{ cve.cve_id }}</td>
                <td>{{ cve.identifier }}</td>
                <td>{{ cve.published_date.replace('T', ' ') }}</td>
                <td>{{ cve.last_modified_date.replace('T', ' ') }}</td>
                <td>{{ cve.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <div style="display: inline;">Total Records: {{ total }}</div>
    
        <div style="float: right; display: flex; align-items: center;">
            <label for="results-per-page" style="margin-right: 5px;">Results Per Page:</label>
            <select id="results-per-page" onchange="changeResultsPerPage()">
                {% for option in results_per_page_options %}
                <option value="{{ option }}" {% if per_page == option %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
<div class="pagination">
    {% set query_items = [] %}
    {% for k, v in query_params.items() %}
        {% if k != 'page' %}
            {% set _ = query_items.append(k ~ '=' ~ v) %}
        {% endif %}
    {% endfor %}
    {% set query_string = query_items | join('&') %}
    {% if page > 1 %}
        <a href="{{ url_for('list_cves') }}?{{ query_string }}{% if query_string %}&{% endif %}page={{ page - 1 }}">Previous</a>
    {% endif %}

    <span>Page {{ page }}</span>

    {% if total > page * per_page %}
        <a href="{{ url_for('list_cves') }}?{{ query_string }}{% if query_string %}&{% endif %}page={{ page + 1 }}">Next</a>
    {% endif %}
</div>

    <script src="/static/script.js"></script>
    <script>
        function goToDetail(cveId){
            window.location.href = `/cves/${cveId}`;
        }

        function changeResultsPerPage(){
            const limit = document.getElementById('results-per-page').value;
            const params = new URLSearchParams(window.location.search);
            params.set('limit', limit);
            params.set('page', 1);
            window.location.href = window.location.pathname + '?' + params.toString();
        }
    </script>
</body>
</html>
